.container {
    padding: 80px 120px;
}

/*
#header { 
    position:absolute;
}*/

/*
.main {
    position: absolute;
}
*/

body{
    font-family: 'Cutive Mono', monospace;
}

/* links */


ul#nav{
    list-style: none;
    padding:0;
    margin: 0 0 10px 0;

    color: black;
    text-decoration: none;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none !important;
    font-size: 20px;
}

a:hover {
    border-bottom: 1px solid;
}

/* for vertical line between links */
.verticalLine {
    
    border-left:    solid #000000;
    display:inline-block;
    padding: 0em 1em 0 1em;

}

/* Bootstrap & image stuff */
.picture{
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 60%;
    height: 59%;
    opacity: 0.7;
}

.picture:hover {
    border-color: #f1f1f1;
}
